@import '~styled-reset';

/* 웹폰트 선언 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  /* sf pro */
  src: url(../../public/webfont/SF-Pro.eot);
  src: url(../../public/webfont/SF-Pro.otf),
       url(../../public/webfont/SF-Pro.ttf),
       url(../../public/webfont/SF-Pro.woff),
       url(../../public/webfont/SF-Pro.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  /* sf pro text */
  /* src: url(../webfont/SF-Pro-Text-Medium.otf); */
  src: url(../../public/webfont/SF-Pro-Text-Medium.otf),
       url(../../public/webfont/SF-Pro-Text-Medium.ttf)
       /* url(../webfont/SF-Pro-Text-Medium.woff),
       url(../webfont/SF-Pro-Text-Medium.woff2) */
       ;
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'SF Pro Text';
  /* sf pro text */
  /* src: url(../webfont/SF-Pro-Text-Bold.otf); */
  src: url(../../public/webfont/SF-Pro-Text-Bold.otf),
       url(../../public/webfont/SF-Pro-Text-Bold.ttf)
       /* url(../webfont/SF-Pro-Text-Bold.woff),
       url(../webfont/SF-Pro-Text-Bold.woff2) */
       ;
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'SF Pro Text';
  /* sf pro text */
  /* src: url(../webfont/SF-Pro-Text-Heavy.otf); */
  src: url(../../public/webfont/SF-Pro-Text-Heavy.otf),
       url(../../public/webfont/SF-Pro-Text-Heavy.ttf)
       /* url(../webfont/SF-Pro-Text-Heavy.woff),
       url(../webfont/SF-Pro-Text-Heavy.woff2) */
       ;
  font-weight: 800;
  font-style: heavy;
}
@font-face {
  font-family: 'SF Pro Text';
  /* sf pro text */
  /* src: url(../webfont/SF-Pro-Text-Black.otf); */
  src: url(../../public/webfont/SF-Pro-Text-Black.otf),
       url(../../public/webfont/SF-Pro-Text-Black.ttf)
       /* url(../webfont/SF-Pro-Text-Black.woff),
       url(../webfont/SF-Pro-Text-Black.woff2) */
       ;
  font-weight: 900;
  font-style: black;
}

/* 전체 폰트 선언 */
html{ font-size: 16px; }
*{ box-sizing: border-box; font-family: 'SF Pro Text', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, 'Arial', 'Helvetica', Sans-serif; text-decoration: none; }
body{ font-family: 'SF Pro Text', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, 'Arial', 'Helvetica', Sans-serif; z-index: 0; }

/* 공통 디자인 선언 */
.ellipse{ display: flex; gap: 10px; flex-direction: row; }
.ellipse .el-1st, .ellipse .el-2nd, .ellipse .el-3rd{ width: 12px; height: 12px; border-radius: 100%; border: none; }
.ellipse .el-1st{ background-color: #ED6A5F; }
.ellipse .el-2nd{ background-color: #F5BE4F; }
.ellipse .el-3rd{ background-color: #61C454; }
.status-bar{ background-color: #F0F0F0; padding: 0 20px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.title{ font-family: 'SF Pro Text', 'Helvetica', sans-serif; font-weight: 900; display: flex; flex-direction: row; gap: 30px; align-items: center; color: 000; position: relative; left: -75px; }
.title .title-num{ font-size: 11.25rem; opacity: 20%; }
.title .title-txt{ font-size: 6.25rem; opacity: 10%; }



/* reset css */